<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="assets/imgs/touch.png" rel="apple-touch-icon-precomposed">
    <link href="assets/imgs/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="assets/css/landing.css">
</head>