<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="<%= root %>/assets/imgs/touch.png" rel="apple-touch-icon-precomposed">
    <link href="<%= root %>/assets/imgs/favicon.ico" rel="shortcut icon">
    <link href="<%= root %>/assets/css/landing.css" rel="stylesheet" type="text/css">
</head>