<nav>
    <div class="wrapper primary-nav">
        <div class="brand"><a class="logo" href="."><img src="assets/uwex-logo.svg" width="auto" height="30px" alt="University of Wisconsin Extended Campus"/></a> Learning Technology Apps</div>
        <!-- <ul>
            <li><a href="#"></a></li>
        </ul> -->
    </div>
</nav>