<!DOCTYPE html>
<html lang="en">
<%- include( './partials/head.ejs' ) %>
</head>
<body>

    <%- include( './partials/nav.ejs' ) %>

    <h1>404</h1>
    <p>oops</p>

    <%- include( './partials/footer.ejs' ) %>

</body>
</html>