<!DOCTYPE html>
<html lang="en">
<%- include( './partials/head.ejs' ) %>
<body>

    <%- include( './partials/nav.ejs' ) %>

    <div class="wrapper content">
        
        <div class="apps-grid">

            <div class="app-item">
                <a href="/course-planner">
                    <div class="icon"><i class="fas fa-poll-h"></i></div>
                    <div class="title">Course Planner</div>
                </a>
            </div>
            
            <div class="app-item">
                <a href="/office-virtual-tour">
                    <div class="icon"><i class="fas fa-flag"></i></div>
                    <div class="title">Office Virtual Tour</div>
                </a>
            </div>

        </div>

    </div>

    <%- include( './partials/footer.ejs' ) %>

</body>
</html>