<!DOCTYPE html>
<html lang="en">
<%- include( './partials/head.ejs' ) %>
<body>

    <%- include( './partials/nav.ejs' ) %>

    <div class="wrapper content construction">
        
        <h1>🚧 Coming soon...</h1>

    </div>

    <%- include( './partials/footer.ejs' ) %>

</body>
</html>